/*General stylings and whatnot*/
html {
  font-family: 'Roboto', sans-serif; /*Using Google Fonts Roboto*/
  font-size: 15px;
  width: 650px;
  margin: 0 auto;
}

/*Basic header styling*/
header {
  text-align: right;
  width: 100%;
  padding-top: 50px;
  background-color: white;
  border: 1px solid #333;
}
h1, p {
  text-align: right;
}
h1{
  font-size: 2rem;
  padding: 0;
  margin-bottom: 0; 
}
p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 15px; 
}
p a {
  color: #4CAF50;
  margin-left: 2px;
  margin-right: 2px;
} 

/*Basic navbar styling*/
.navbar {
  text-align: center;
  padding-top: 2.5px;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
  width: 100%;
  border: 1px solid #333;
  /**********Animation CSS***********/ 
  visibility: hidden; /* Hides the visibilty of the navbar when the page loads. While hidden, the area where navbar buttons appear will not be clickable. Navbar will become visible and clickable after the header animation is complete and the navbar animation begins.*/
  opacity: 0; /* Opacity of navbar is set to 0 so the navbar is invisible when the page loads. */
  /**********Animation CSS***********/ 
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

.active, .active:hover {
  background-color: #4CAF50;
}


/**********************************/
/**********Animation CSS***********/
/*******From Below This Point******/ 
/**********************************/

header {
  -webkit-animation-duration: 0.5s; /* Header animation will take 0.5s to complete. */
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s; /* Header animation will begin 0.5s after the page loads */
          animation-delay: 0.5s;
}

.navbar ul{
  -webkit-animation: navstretch ease-out 1s; /* navbar animation linked to animation @keyframes named navstretch (below) */
  animation: navstretch ease-out 1s; 
  -webkit-animation-delay: 1.3s; /* Delay start of animation until header animation is complete */
  animation-delay: 1.3s; 
  -webkit-animation-iteration-count: 1; /* navstretch animation plays through 1 time */
  animation-iteration-count: 1; 
  -webkit-animation-fill-mode: forwards; /* Keeps animation from resetting to how it was at the start */
  animation-fill-mode: forwards; 
}

@keyframes navstretch {
  /*****************************************************/
  /****   Animation for navbar begins with the     *****/ 
  /****   opacity, visibility, and scaleX set      *****/ 
  /****   to hide the element, make it             *****/ 
  /****   unclickable, and shrinks the width to 0. *****/
  /*****************************************************/
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
  }
  /*****************************************************/
  /****   2% into the animation the opacity is set  ****/ 
  /****   to 1 and visibility set to visible to     ****/ 
  /****   unhide the navbar element and make it     ****/ 
  /****   clickable. Since scaleX is still set to 0 ****/ 
  /****   the navbar won' appear on the page yet.   ****/
  /*****************************************************/
  2% {
    opacity: 1;
    visibility: visible;
    transform: scaleX(0);
  }
  /*****************************************************/
  /****   At 100% into the animation (the end)      ****/
  /****   scaleX is finally set to 1. This means    ****/ 
  /****   that, from 2% into the animation to the   ****/
  /****   end of the animation, the width of the    ****/
  /****   navbar scaled from 0 to 1 (0% to 100%)    ****/
  /*****************************************************/
  100% {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
  }
}

@-webkit-keyframes navstretch {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
  }
  2% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
  }
}